.multi-item-carousel{
  padding: 20px;
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    } 
  }
  .carousel-control{
    display: flex;
    align-items: center;
    color: #353f53;
    &.left, &.right{
      background-image: none;
    }
  }
}


// Flickity carousel styles
.multiple-jobs-carousel {
  // width: 300px; /* fixed gallery width */
  height: 100%;
  padding: 15px;
  .flickity-viewport {

  }
  .flickity-prev-next-button{
    width: 40px;
    height: 30px;
    border: 1px #e0e3e6 solid;
    border-radius: 18px;
    &.previous {
      left: 15px;
    }
    &.next {
      right: 15px;
    }
  }
}

.carousel-cell {
padding: 0;
display: flex;
justify-content: center;
}



.MultiCarousel { float: left; 
  overflow: hidden; 
  padding: 15px; 
  width: 100%; 
  position:relative;
  .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
    .item { 
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      > div { 
        text-align: center; 
        // padding:10px; 
        // margin:10px; 
        background:#f1f1f1; 
        color:#666;
      }
    }
  }
  .leftLst, .rightLst { 
    position:absolute;
    border-radius:50%;
    top:calc(50% - 20px);
    &.over { pointer-events: none; background:#ccc; }
   }
  .leftLst { left:0; }
  .rightLst { right:0; } 
}

// .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
// .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
// .MultiCarousel .MultiCarousel-inner .item { float: left;}
// .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
// .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
// .MultiCarousel .leftLst { left:0; }
// .MultiCarousel .rightLst { right:0; }
// 
// .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

